#!/usr/bin/expect

set timeout 20
spawn docker exec -it gitlab-runner gitlab-runner register
expect "Please enter the gitlab-ci coordinator URL (e.g. https://gitlab.com/):"
send "{{ gitlab_url }}\n"
expect "Please enter the gitlab-ci token for this runner:"
send "{{ gitlab_token }}\n"
expect "Please enter the gitlab-ci description for this runner:"
send "{{ ansible_hostname }}\n"
expect "Please enter the gitlab-ci tags for this runner (comma separated):"
send "linux,ubuntu,docker,xenial\n"
expect "false\]:"
send "true\n"
expect "true\]:"
send "false\n"
expect "docker-ssh"
send "docker\n"
expect "ruby:2.1):"
send "alpine:latest\n"
expect 'Runner registered successfully'

